.MuiCard-root {
    margin: 25px;
    background-color: plum;
    width: 25%;
}
#card {
    margin: 25px;
    background-color: pink;
    padding: 15px;
}
.grid {
    display: inline;
    width: 20%;
}

.motives {
    border-bottom: 4px dotted black;
    padding: 15px;
}
.grid-container {
    border: 1ps solid black;
    background-color: purple;
    width: 25%;
    display: inline;
}
.root {
    width: 20%;
    display: inline-flex;

}
#motivation {
    padding: 15px;
    margin: 5px;
}
.category {
    padding: 5px;
}