#card {
    margin: 25px;
    background-color: #3E1619;
    padding: 15px;
    color: #E9C762;
}
.motives {
    border-bottom: 4px dotted black;
    margin-top: 25px;
    padding: 15px;
    margin-bottom: 15px;
}
.grid-container {   
    background-color: #3E1619;
    margin: 0px;
    display: inline;
    column-count: 4;

}
.deleteIcon {
    padding: 25px;
    color: black;
    width: 150%;
    height: 150%;
}
.names {
    display: inline;
    /* padding-top: 20px;
    padding: 50px; */
    color: #E9C762;
}
.form {
    border: 1px solid black;
    background-color: gray;
    color: #E7E5E2;
    padding-bottom: 25px;
    padding: 100px;
}


