
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(50px + 2vmin); */
  color: #E9C762;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  letter-spacing: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* @use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield"; */

/* @include textfield.core-styles; */

.MuiButton-contained {
  display: inline;
  margin: 25px;
  background-color: red;
}
.button {
  display: inline-flex;

}
.MuiButtonBase-root {
  display: inline;
  background-color: red;
}
.MuiButton-root {
  background-color: red;
} 
.MuiButton-contained {
  background-color: red;
}
body {
  display: inline;
  flex-direction: row;
  justify-content: space-around;
  background-color: #E7E5E2;
  
  
}
#year {
  display: inline-flex;
  flex-direction: row;
  background-color: #3E1619;
}
#cat {
  display: inline-flex;
  flex-direction: row;
  background-color: #3E1619;
}
.MuiAppBar-colorPrimary {
  color: #E7E5E2;
  background-color: #3E1619;
}
#header {
  color: #E9C762;
  background-color: #3E1619;
  padding: 100px;
  font-family: 'Times New Roman', Times, serif;
}
.row {
  width: 100vw;
  margin-left: 20px;
}
.submitButton {
  border-radius: 12px;
  background-color: #3E1619;
  padding: 15px;
  margin-left: 35px;
  color: #E9C762;
}
#deleteIcon {
  position: absolute;
  padding-bottom: 25px;
  margin-right: 20px;
}
.editForm {
  margin-left: 300px;
}
#editButton {
  border-radius: 12px;
  background-color: #E7E5E2;
  padding: 15px;
  margin-left: 35px;
}
/* //change */
